.wrapper-main{
   width:1000px;
   padding: 100px 0;
   margen:0 auto;
}

@media only screen and (max-width:600px) and (orientation: landscape){
    .wrapper-main{
        width:100%;
     }
}

@media only screen and (max-width:600px) and (orientation: portrait){
    .wrapper-main{
        width:100%;
     }
}


@media only screen and (min-width:601px){
    .wrapper-main{
        width:100%;
     }
}


@media only screen and (min-width:768px){
    .wrapper-main{
        width:100%;
     }
}


@media only screen and (min-width:992px){
    .wrapper-main{
        width:100%;
     }
}
